<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{newsTitle}}</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #e5e5e5;
      color: #3d3d4e;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <div
        style="
          background-color: #ff6666;
          color: #ffffff;
          padding: 10px;
          text-align: center;
          border-radius: 8px 8px 0 0;
        "
      >
        <img src="cid:logo@cid" alt="Logo" style="height: 100px" />
        <h1 style="margin: 10px 0">Trade Alert</h1>
      </div>
      <div style="padding: 20px; text-align: center">
        <h2 style="color: #c04d4d">{{newsTitle}}</h2>
        <p style="color: #3d3d4e; text-align: justify">{{newsContent}}</p>
        <a
          href="{{newsLink}}"
          target="_blank"
          style="
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #ffffff;
            background-color: #4caf50;
            text-decoration: none;
            border-radius: 5px;
          "
          >Read More</a
        >
      </div>
      <div
        style="
          text-align: center;
          font-size: 12px;
          color: #888888;
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid #e5e5e5;
        "
      >
        <p>Trade Alert &copy; 2024 Our Service. All rights reserved.</p>
        <p>
          <a
            href="http://localhost:5173"
            target="_blank"
            style="color: #ff6666; text-decoration: none"
            >Visit our website</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
