.register-container {
  min-height: 85vh;
}

.register-form-heading-color {
  color: var(--color-light-pink) !important;
}

.register-form-container {
  background-color: white; /* Background color of the form container */
  border-radius: 3rem; /* Rounded corners */
  padding: 50px 50px 60px 50px; /* Padding inside the container */
  background-color: var(--color-secondary);
  margin: 20px; /* Margin around the container */
  width: 50%;
}

.register-form-container .form-group {
  margin-bottom: 20px; /* Space between form groups */
}

.register-form-container .form-control {
  border-radius: 5px; /* Rounded corners for input fields */
  padding: 10px; /* Padding inside input fields */
}

.register-form-container .btn {
  width: auto;
  padding: 14px 60px;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  background-color: #d9d9d9;
  color: #000000;
  border-color: transparent;
  font-weight: 400;
}

.register-form-container form div input {
  margin-bottom: 3rem;
  width: 100%;
  background-color: #8f8fb0;
  border-color: transparent;
  border-radius: 2rem;
}

.register-form-container form div input::placeholder {
  color: white;
}
.register-company-dropdown-input {
  background-color: var(--color-light-pink) !important;
  margin-bottom: 0 !important;
  padding: 20px !important;
  border-radius: 5px !important;
  margin-bottom: 1rem !important;
}

.register-company-dropdown-input::placeholder {
  color: rgb(61, 61, 78, 0.8) !important;
}

@media screen and (max-width: 768px) {
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
  }
  .register-form-container {
    width: 100%;
    padding: 20px 5px 20px 5px;
  }
  .register-form-container .btn {
    padding: 5px 20px;
  }

  .register-company-priority-quantity {
    flex-direction: row !important;
  }
}
