:root {
  --primary-color: #74b9ff; /* Light blue */
  --secondary-color: #171c28; /* Dark navy */
  --background-color: rgb(255, 255, 255); /* Light grey */
  --text-color: #000000; /* Black */
  --navbar-bg-color: #0dcaf0; /* Light blue */
  --navbar-text-color: black; /* White */
  --footer-bg-color: #0dcaf0; /* Light blue */
  --footer-text-color: black; /* White */
  --heading-color: #000000; /* Black */
  --scrollbar-track-color: #b2bec3; /* Light grey */
  --scrollbar-thumb-color: #74b9ff; /* Light blue */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
