:root {
  --background-color: rgb(255, 255, 255);
  --color-primary: #ff6666;
  --color-secondary: #3d3d4e;
  --color-light: #e5e5e5;
  --color-light-pink: #ffc0c0;
  --color-dark-red: #c04d4d;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ffc107;
  --color-black: #000000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Inria Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

.text-color-primary {
  color: var(--color-primary);
}

.text-color-secondary {
  color: var(--color-secondary);
}

.text-color-light {
  color: var(--color-light);
}

.text-color-light-pink {
  color: var(--color-light-pink);
}

.text-color-dark-red {
  color: var(--color-dark-red);
}

.text-color-success {
  color: var(--color-success);
}

.text-color-error {
  color: var(--color-error);
}

.text-color-warning {
  color: var(--color-warning);
}

.text-color-black {
  color: var(--color-black);
}
