.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-black);
  margin-right: 0.5rem;
}

.navbar-nav .nav-link.active {
  color: var(--color-primary) !important;
}

.nav-link:hover {
  color: var(--color-primary) !important;
}

.navbar {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--background-color);
}

.navbar-brand img {
  height: 90px;
}

.navbar-brand h1 {
  color: var(--color-primary) !important;
  font-family: var(--secondary-font);
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    height: 60px;
  }
}
